<a href="https://colab.research.google.com/github/victoralfayo/my_machine_learning/blob/main/linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

In [ ]:
x= np.arange(100)
loc = 20
size = 0.5

In [ ]:
x_stats = stats.norm.pdf(x, loc, size)
x_stats

array([0.00000000e+000, 2.19444210e-314, 3.01380944e-282, 7.58105280e-252,
       3.49273251e-223, 2.94729227e-196, 4.55515496e-171, 1.28945199e-147,
       6.68542888e-126, 6.34856311e-106, 1.10418967e-087, 3.51749909e-071,
       2.05232615e-056, 2.19321312e-043, 4.29276747e-032, 1.53891973e-022,
       1.01045422e-014, 1.21517657e-008, 2.67660452e-004, 1.07981933e-001,
       7.97884561e-001, 1.07981933e-001, 2.67660452e-004, 1.21517657e-008,
       1.01045422e-014, 1.53891973e-022, 4.29276747e-032, 2.19321312e-043,
       2.05232615e-056, 3.51749909e-071, 1.10418967e-087, 6.34856311e-106,
       6.68542888e-126, 1.28945199e-147, 4.55515496e-171, 2.94729227e-196,
       3.49273251e-223, 7.58105280e-252, 3.01380944e-282, 2.19444210e-314,
       0.00000000e+000, 0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
       0.00000000e+000, 0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
       0.00000000e+000, 0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
       0.00000000e+000, 0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
       0.00000000e+000, 0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
       0.00000000e+000, 0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
       0.00000000e+000, 0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
       0.00000000e+000, 0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
       0.00000000e+000, 0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
       0.00000000e+000, 0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
       0.00000000e+000, 0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
       0.00000000e+000, 0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
       0.00000000e+000, 0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
       0.00000000e+000, 0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
       0.00000000e+000, 0.00000000e+000, 0.00000000e+000, 0.00000000e+000])

In [ ]:
y = np.linspace(10000,50000,2000)
loc = 10000
size = 50000

In [ ]:
#house_set = pd.DataFrame([x,y], columns = ['Office Size', 'House Price'])
#house_set.T

In [ ]:
y_stats = stats.norm.pdf(y, loc, size)
y_stats

array([7.97884561e-06, 7.97884497e-06, 7.97884305e-06, ...,
       5.79754029e-06, 5.79568584e-06, 5.79383106e-06])

In [ ]:
df = pd.DataFrame([x_stats, y_stats])
df.shape
table = df.T

In [ ]:
table.head()

               0         1
0   0.000000e+00  0.000008
1  2.194442e-314  0.000008
2  3.013809e-282  0.000008
3  7.581053e-252  0.000008
4  3.492733e-223  0.000008

In [ ]:
table

                  0         1
0      0.000000e+00  0.000008
1     2.194442e-314  0.000008
2     3.013809e-282  0.000008
3     7.581053e-252  0.000008
4     3.492733e-223  0.000008
...             ...       ...
1995            NaN  0.000006
1996            NaN  0.000006
1997            NaN  0.000006
1998            NaN  0.000006
1999            NaN  0.000006

[2000 rows x 2 columns]

In [ ]:
table.stack()

0     0     0.000000e+00
      1     7.978846e-06
1     0    2.194442e-314
      1     7.978845e-06
2     0    3.013809e-282
               ...
1995  1     5.801248e-06
1996  1     5.799394e-06
1997  1     5.797540e-06
1998  1     5.795686e-06
1999  1     5.793831e-06
Length: 2100, dtype: float64

In [ ]:
size = np.random.randint(1,100, (100))
size = np.round(size, -1)
price = np.random.randint(10000,50000, (100))
price = np.round(price, -2)

In [ ]:
office = pd.DataFrame([size, price], index=["Office Size", "Office Price"])

In [ ]:
office

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
Office Size,20,60,90,20,20,80,30,0,100,40,...,80,80,20,70,50,50,50,0,60,70
Office Price,12400,39600,22000,47100,10000,41200,35700,10700,25400,26400,...,24500,37300,34200,36400,26500,49100,22000,17800,42900,45400

In [ ]:
table_price = office.T

In [ ]:
table_price

    Office Size  Office Price
0            20         12400
1            60         39600
2            90         22000
3            20         47100
4            20         10000
..          ...           ...
95           50         49100
96           50         22000
97            0         17800
98           60         42900
99           70         45400

[100 rows x 2 columns]

In [ ]:
table_price.unstack()

Office Size   0        20
              1        60
              2        90
              3        20
              4        20
                    ...
Office Price  95    49100
              96    22000
              97    17800
              98    42900
              99    45400
Length: 200, dtype: int64

In [ ]:
table_price.describe()

       Office Size  Office Price
count   100.000000    100.000000
mean     48.100000  30184.000000
std      27.913828  11489.817363
min       0.000000  10000.000000
25%      20.000000  20800.000000
50%      45.000000  32000.000000
75%      70.000000  39450.000000
max     100.000000  49100.000000

In [ ]:
y_theta = table_price['Office Price'].mean()

In [ ]:
int(y_theta)

30184

In [ ]:
class MSE:
    def __init__(self, y_actual, y_predict, n):
      self.y_actual = y_actual
      self.y_predict = y_predict
      self.n = 0
    def mean_error(self, y_actual, y_predict, mse, n):
      for actual in range(n):
        mse = (y_actual[actual] - y_predict[actual])**2 
        return mse
    def grad_desc(self, m, b, x, y, learning_rate):
      self.m = m
      self.b = b
      m_deriv = 0
      b_deriv = 0
      n = len(x)
      for i in range(n):
        m_deriv += -2*x[i] * (y[i] - (m*x[i] + b))
        b_deriv += -2*(y[i] - (m*x[i] + b))

        m -= (m_deriv / float(n)) * learning_rate
        b -= (b_deriv / float(n)) * learning_rate
        print("Gradient:", m)
        print("Intercept:", b)

In [ ]:
actual = [table_price['Office Price']]
predict = np.random.randint(10000,50000,(100))

In [ ]:
mse = MSE(actual, predict, 100)
error = mse.mean_error(actual, predict, mse, 99)
print('Error:', error/100)

Error: 0     7006079.61
1        5343.61
2     2845631.61
3      677493.61
4     8334191.61
         ...
95    1046733.61
96    2845631.61
97    4439027.61
98     162489.61
99     426539.61
Name: Office Price, Length: 100, dtype: float64